/* Template Galeria */


.main_galery{
    padding-top: 15px;
    width: 100%;
    padding-right: 15px;
   padding-left: 15px;
}


#title_galery{
    font-family: Holtwood One SC;
    background-color: navy;
    color: white;
    padding-bottom: 1px;
    border-radius: 20px 20px 0 0;
    
}


#row_galery{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    border-radius: 0 0 20px 20px ;
    
}





  
  #row_galery:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  .column_galery {
    float: left;
    width: 100%;
    max-height:220px;
    margin: auto;
    overflow: hidden;
  }
  
  /* The Modal (background) */
  .modal_galery {
    display: none;
    position: fixed;
    z-index: 50;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }

  
  /* Modal Content */
  #modal_content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .column_cursor{
    float: left;
    width: 25%;
  }




  /* Next & previous buttons */
  .prev_galery,
  .next_galery{
    cursor: pointer ;
    position: absolute;
    top: 50% ;
    width: auto ;
    padding: 16px ;
    margin-top: -50px ;
    color: white !important;
    font-weight: bold ;
    font-size: 20px ;
    transition: 0.6s ease ;
    border-radius: 0 3px 3px 0 ;
    user-select: none;
    -webkit-user-select: none ;
  }
  
  /* Position the "next button" to the right */
  .next_galery {
    right: 0 ;
    border-radius: 3px 0 0 3px ;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev_galery:hover,
  .next_galery:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
    
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  

  .img_galery{
    width: 100%;
    object-fit: cover;

  }

@media (min-width:600px) {

    #row_galery{
       
        display: grid;
        grid-template-columns: repeat(3, 1fr);
     
    }


}   


@media (min-width:1025px) {
    #row_galery{
       
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
     
    }

}